@tailwind base;
@tailwind components;
@tailwind utilities;


select,input,textarea{
    border: 1px solid rgb(207, 181, 181) ;
    outline-color:#aca2a2  ;
    border-radius: 4px;
}

.active{
    background-color: #f3b7b7 ;
    border-color: rgb(117, 92, 92);
}
